<%- contentFor('body') %>

<h3>Votação</h3>

<table>
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th class="center" scope="col">Número - Partido</th>
            <th class="center" scope="col">Votos</th>
            <th class="center" scope="col">Percentual</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
    <%  for (var i in cand) { %>
        <tr>
            <td><%=cand[i].nome %></td>
            <td class="center"><%=cand[i].numero %> - <%=cand[i].partido %></td>
            <td class="center"><%=cand[i].votos %></td>
            <td>
                <div class="progress">
                    <div class="determinate" style="width: <%=percent[i].percentual %>%"></div>
                </div>
                
            </td>
            <td><div class="center"><%=percent[i].percentual %> %</div></td>
        </tr>
    <% } %>
    </tbody>
</table>
