
<%- contentFor('body') %>
    <!-- Page Features -->
    <div class="row text-center">
        <%  for (var i in cand) { %>
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title"><%=cand[i].nome %></h4>
                    <p class="card-text">Partido: <%=cand[i].partido %> / Numero: <%=cand[i].numero %> / Votos: <%=cand[i].votos %></p>
                </div>
                <div class="card-footer">
                    <form action="registra-voto" method="POST">
                        <input type="hidden" name="candidatoNr" value="<%=cand[i].numero %>">
                        <button type="submit" class="btn btn-primary">Votar</button>
                    </form> 
                </div>
            </div>
        </div>
        <% } %>
    </div>
